<%- include('../views/partials/header'); %>
  <div class="row">
    <!-- FORM -->
    <div class="col-md-6">
        <form method="post" action="/todo/add">
          <div class="mb-3">
            <label class="form-label">ToDo Name</label>
            <input type="text" name="text" placeholder="Add ToDo" class="form-control">
          </div>
          <div class="mb-3">
            <label>ToDo Body</label>
            <textarea type="text" name="body" placeholder="Add Body" class="form-control"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <!-- ToDos -->
    <div class="col-md-6">
        <ul class="list-group list-group-flush">
          <% todos.forEach(function(todo){ %>
            <li class="list-group-item">
              <%= todo.text %> - <%= todo.body %>
              <a href="/todo/get/<%= todo._id %>" class="edit-todo btn btn-outline-primary">Edit</a>
              <a data-id="<%= todo._id %>" href="#" class="delete-todo btn btn-danger">Delete</a>
            </li>
          <% }) %>
        </ul>
    </div>
  </div>

<%- include('../views/partials/footer'); %>
